@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --primary-color: #210047;
  --secondary-color: #c51232;
  --accent-color: #ecbd2f;
  --myBlue: #2a9ce5;
  --myWhite: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--myWhite);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

main {
  height: 100vh;
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 2rem;
  color: rgba(254, 254, 254, 0.62);
}

h2 {
  font-size: 4.6rem;
}

p,
a {
  font-size: 1.6rem;
  text-align: justify;
}

nav a:hover {
  border-bottom: 2px var(--secondary-color) solid;
  text-shadow: 5px 3px 7px var(--myBlue);
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
  margin: auto;
}

nav ul,
h1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex: 0.3;
}

footer nav {
  justify-content: flex-end;
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  background: var(--accent-color);
  color: var(--primary-color);
  margin: 30px 0;

  font-weight: bold;

  border-radius: 25px;
}

.btn:hover {
  animation: btngrad 0.3s ease forwards;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 80vh;
}

.main-content .left article {
  margin-top: 30vh;
}
.main-content .left h2 {
  margin-bottom: 3.5rem;
}

.main-content .right img {
  transform: scaleX(-1);
}

@keyframes btngrad {
  from {
    background: var(--accent-color);
  }

  to {
    background: linear-gradient(
      45deg,
      var(--accent-color),
      var(--secondary-color)
    );
  }
}
